body {
    font-family: Arial, sans-serif;
    background-color: #FEDEFF;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 10vh auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #0000001a;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #FF2171;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle-buttons button {
    flex-basis: 49%;
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.toggle-buttons button.active {
    background-color: #FF2171;
    color: white;
}

.admin-login {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FF2171;
}

.logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.auth-logo{
    width: 150px;
}