html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    display: flex;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid blue; */
}

.right-top {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    background-color: #f7d4e5;
}

.logo img{
    width: 200px;
}

.right-bottom{
    padding: 1rem;
}

button {
    margin: 10px;
}

table{
    box-shadow: 0px 0px 5px 5px #b9b9b9;
}

table,
th,
td {
    text-align: center;
}

#orders{
    width: 100%;
}

#createCake{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    padding: 2rem;
    display: flex;
    width: 50%;
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: #F7E2D6;
    box-shadow: 0px 0px 5px 5px #b9b9b9;
}
.form-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
}

.form-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10px;
}

.form-right button{
    margin: 10px 0;
}

label{
    font-weight: bold;
}

.form-left input{
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0.5rem;
}

.form-left textarea{
    resize: none;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid grey;
}

.form-right input{
    margin: 10px 0;
    padding: 0.5rem;
}

.form-right textarea{
    resize: none;
    margin: 10px 0;
}

#earnings{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(68, 68, 68); */
    width: 33%;
    background-color: #dcf6fb;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px grey;
}

#earnings{
    display: none;
}

.blocks{
    max-width: 400px;
}

.block-area{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.blocks h1{
    width: 100%;
    background-color: rgb(42, 52, 165);
    color: white;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.blocks p{
    font-size: 1.5rem;
    color: #210c75;
}

#updateCake{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableArea{
    scale: 80%;
}

td input{
    border: 2px solid #0020d4;
    border-radius: 10px;
}

#searchCakesInput{
    width: 50%;
    padding: 0.5rem;
    border: 2px solid #e8135e;
    border-radius: 10px;
}

#searchOrdersInput{
    width: 50%;
    padding: 0.5rem;
    border: 2px solid #e8135e;
    border-radius: 10px;
    margin: 1rem 0;
}

.tableArea td{
    font-weight: bold;
}
