<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="../css/basicCss.css">
  <script src="../scripts/adminfront.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main-content">
    <div class="right-side">
      <div class="right-top">
        <button type="button" class="btn btn-success" style="margin: 0 0.5rem;" onclick="refresh()">Refresh Page</button>
        <button type="button" class="btn btn-info" style="margin: 0 0.5rem;" onclick="showOrders()">Orders</button>
        <button type="button" class="btn btn-primary" style="margin: 0 0.5rem;" onclick="createnewCake()">Add Cake</button>
        <button type="button" class="btn btn-primary" style="margin: 0 0.5rem;" onclick="updateCake()">Update/View Cakes</button>
        <button type="button" class="btn btn-primary" style="margin: 0 0.5rem;" onclick="showEarnings()">View Earnings</button>
        <button type="button" class="btn btn-danger" style="margin: 0 0.5rem;">Logout</button>
      </div>
      <div class="right-bottom">

        <div id="orders">

          <table style="width:100%" class="table">
            <tr class="table-info">
              <th>Customer Name</th>
              <th>CakeID</th>
              <th>Cake Name</th>
              <th>OrderID</th>
              <th>Address</th>
              <th>Contact Number</th>
              <th>Order Status</th>
              <th>Mark Competed</th>
              <th>Cancel</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Germany</td>
              <td>Germany</td>
              <td>Germany</td>
              <td>Germany</td>
              <td><a href="" class="btn btn-success">mark</a></td>
              <td><a href="" class="btn btn-danger">cancel</a></td>
            </tr>
          </table>
        </div>

        <div id="createCake">
          <h1>Add a new Cake to the inventory.</h1>
          <form action="/admin/CreateCakes" method="POST" enctype="multipart/form-data">

            <div class="form-left">
              <label for="cakeName">Cake Name:</label>
              <input type="text" id="cakeName" name="cakeName" required placeholder="Enter the cake name">
  
              <label for="cakeDescription">Cake Description:</label>
              <textarea id="cakeDescription" name="cakeDescription" required placeholder="Enter the cake description"> </textarea>
  
              <label for="cakeSugarAmount">Cake Sugar Amount (g) :</label>
              <input type="number" id="cakeSugarAmount" name="cakeSugarAmount" required placeholder="Enter the sugar amount">
  
              <label for="cakeType">Cake Type:</label>
              <input type="text" id="cakeType" name="cakeType" required placeholder="Enter the cake type">
  
              <label for="price">Price:</label>
              <input type="number" id="price" name="price" required placeholder="Enter the cake price">
            </div>

            <div class="form-right">
              <label for="discount">Discount:</label>
              <input type="number" id="discount" name="discount" required placeholder="Enter the discount">

              <label for="cakeDescription">Something Special:</label>
              <textarea id="cakeDescription" name="cakeSpeciality" required placeholder="Enter anyting special about the cake."> </textarea>
  
              <label for="thumbnailImage">Thumbnail Image:</label>
              <input class="btn btn-danger" type="file" id="thumbnailImage" name="thumbnailImage" required>
  
              <label for="imagePaths">Carousel Images:</label>
              <input class="btn btn-danger" type="file" id="imagePaths" name="imagePaths" multiple required>
  
              <button type="submit" class="btn btn-primary">Create Cake</button>
            </div>

          </form>
        </div>

        <!--Update cake-->

        <div id="updateCake">
          <table class="table">
            <tr class="table-info">
              <th>CakeID</th>
              <th>Cake Name</th>
              <th>Cake description</th>
              <th>Cake sygar amount</th>
              <th>Cake type</th>
              <th>Speciality</th>
              <th>Cake Price</th>
              <th>Discount</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>
                Maria Anders
                <input type="text">
              </td>
              <td>
                Maria Anders
                <input type="text">
              </td>
              <td>
                Maria Anders
                <input type="text">
              </td>
              <td>
                Maria Anders
                <input type="text">
              </td>
              <td>
                Maria Anders
                <input type="text">
              </td>
              <td>
                Maria Anders
                <input type="text">
              </td>
              <td>
                Maria Anders
                <input type="text">
              </td>
              <td><a href="" class="btn btn-success">Update</a></td>
              <td><a href="" class="btn btn-danger">delete</a></td>
            </tr>
          </table>
        </div>


        <div id="earnings">
          <div class="blocks">
            <h1>Total sales</h1>
            <p>1500 units</p>
          </div>
          <div class="blocks">
            <h1>sales amount</h1>
            <p>Rs 100000</p>
          </div>
          <div class="blocks">
            <h1>Profit</h1>
            <p>Rs 50000</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>